.traveler-group-card {
    width: inherit;
    border-radius: 12px;
}

h4 {
    background-color: cadetblue;
    width: 100%;
    margin: 0 24px 12px 24px;
    border-radius: 12px 12px 0 0;
}

footer {
    margin: 12px;

}
