header {
    display: flex;
    justify-content: center;
    background-color: cadetblue;


}

.NavLink {
    border: solid black 2px;
    height: 48px;
    text-decoration: none;
    cursor: pointer;

}





